# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native (Android/iOS builds, signing, etc.)
android/app/build/
ios/Pods/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro bundler
.metro-cache/
.metro-health-check/

# Logs and debug files
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS
.DS_Store

# Environment variables
.env*
*.pem

# TypeScript
*.tsbuildinfo

# Others
*.orig.*
.kotlin/
app-example
